# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\#MOJE DOKUMENTY DELL1\2. PROGRAMOWANIE\APJ\9. Java wprowadzenie if 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
